<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="com.pt_connector.core.PivotalTrackerRepositoryConnector"
            name="Pivotal Tracker Connector Core">
      </connectorCore>
      <connectorUi
            brandingIcon="icons/pt-icon.gif"
            class="com.pt_connector.ui.PivotalTrackerConnectorUi"
            name="Pivotal Tracker Connector UI"
            overlayIcon="icons/overlay-pt.gif">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            addAutomatically="true"
            characterEncoding="UTF-8"
            label="Pivotal Tracker Connector"
            repositoryKind="PivotalTracker"
            urlRepository="http://www.pivotaltracker.com/services/v3/projects/67330/stories">
      </repository>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="com.pt_connector.ui.editor.PivotalTrackerTaskEditorPageFactory"
            id="com.pt-connector.ui.pageFactory">
      </pageFactory>
   </extension>

</plugin>
